@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

/*SEARCH BAR CSS*/
.search-bar-container{
    background-image: linear-gradient(90deg, #85E067, #5337D3);
    font-family: 'Lato', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*height: 100vh;*/
    overflow: hidden;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    transform: translateX(0); /* initial position */
    transition: transform 1s ease-out; /* Move search bar off-screen */
}

/* Move search bar off screen when rotating menu is pressed */
.search-bar-container.show-nav {
    transform: translateX(100%);
}

.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}
.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}
.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(150px);
}

#input-label{
    font-weight: bold;
    margin-right: 25px;
    color: white;
}
/*END SEARCH BAR CSS*/

/* START OF ROTATING NAVIGATION */
.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}
.container.show-nav {
    transform: rotate(-20deg);
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 2;
}
.circle{
    background-color: #5337D3;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    position: absolute;;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}
.circle-button:focus{
    outline: none;
}
.circle button#open{
    left: 60%;
}
.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.content img{
    max-width: 100%;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}
nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}
nav ul li + li + li + li {
    margin-left: 45px;
    transform: translateX(-250%);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}
.content h1 {
    margin: 0;
}
.content small {
    color: #555;
    font-style: italic;
}
.content p {
    color: #333;
    line-height: 1.5;
}
nav ul li a {
    color: white;
    text-decoration: none;
}


nav ul li a:hover {
    text-decoration: underline;
}

/*content style*/
.content {
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 50px auto;
    transition: box-shadow 0.3s ease-in-out;
}

.content h1, .content h2, .content h3 {
    color: #333;
    margin-bottom: 15px;
}

.content p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.deposit-withdraw-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.transaction {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.transaction h3 {
    margin-bottom: 10px;
}

.transaction input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.transaction button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
#deposit-button{
    width: 25%;
    padding: 10px;
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}
#withdraw-button{
    width: 28%;
    padding: 10px;
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

#deposit-button:hover, #withdraw-button:hover {
    background-color: #4CAF50;
    color: #fff;
}

#deposit-button:active, #withdraw-button:active {
    background-color: lightblue;
    color: #fff;
}

#deposit-amount, #withdraw-amount {
    margin: 10px;
}

#deposit-button, #withdraw-button {
    margin: 10px 0;
}

/* Footer */
footer {
    min-height: 100px;
    height: auto;
    width: 100%;
    right: 0;
    background-color: #0C111D;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}